/*GLOBALS
*********
*/
body {
  background-color: #ddd;
  font-family: Ubuntu !important;
  margin: 0;
  padding: 0;

}

h1 {
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

h3 {

  margin-bottom: 5px;
  font-size: 22px;
}

h4 {
  margin-top: 0;
    margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.section {

}

.summary {
  padding-top: 40px;
  padding-bottom: 30px;
}

.uppercase{
  text-transform: uppercase;
}

ul {
  padding-top: 10px;
  padding-left: 15px;
  margin-left:0;
}

heading {
  font-size: 21px;
  color: #9ba4a9;
}

.black {
  color: black;
}

.grey {
  color: #9ba4a9;
}

.blue {
  color:#428bca;
}

.blue-dark {
  color: #224f77;
}
.seperate-underline {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 1px;
  width: 100%;
  background-color: #428bca;
}

.header-underline {
  min-height: 1px;
  width: 100%;
  background-color: #428bca;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.page {
  background-color: #fff;
  margin:25px auto 20px;
  max-width:950px!important;

  padding:0 35px;

  min-height: 100%;
  position:relative;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

/*HEADER
********
*/
.top-header {
  margin: 0 -35px 15px;
  padding: 0 10px;
  background-color: #428bca;
  color: #fff;
}

.nameplate {
  letter-spacing: 2px;
  font-size: 36px;
  font-family: Ubuntu !important;
}

.nameplate h3 {
  margin-top: 0;
}

.inline-left {
    display: inline-block;
    float: left;
}

.contact-block {
  color: #fff;
  padding-right: 10px;
  padding: 15px 0 15px 0;
  font-family: Ubuntu !important;
  font-size: 15px;
}

.contact-block .icon{
  font-size: 30px;
}

.skill .left{
  padding-left: 0;
}

.employers {
  display: flex;
   flex-direction: column;
}

.employment {
  margin: auto;
}
